
.split-section {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.left-section {
  flex: 0 0 auto;
  width: 175px;
  overflow-y: auto;
  border-right: 1px solid var(--uxp-host-border-color);
}
.right-section {
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex; flex-direction: column;
}
sp-detail[slot=header] {
  margin: 1em 0 0 0;
  padding: 0;
}
.right-section > sp-heading {
    flex: 0 0 auto;
    padding: 0 12px;
    border-bottom: 1px solid var(--uxp-host-border-color);
}

.page {
  padding: 0 12px 24px 12px;
  flex: 1 1 auto;
  display: none;
  overflow: hidden;
  overflow-y: auto;

}
.page.visible {
    display: block;
}

.page sp-detail:not(.safe) {
    margin: 2em 0 1em 0;
    border-bottom: 1px solid var(--uxp-host-text-color);
}

.code-section {
  flex: 0 0 auto;
  height: 300px;
  border-top: 1px solid var(--uxp-host-border-color);
  padding: 0 12px;
  overflow: hidden;
  display: flex; 
  flex-direction: column;
}
#code {
  color: var(--uxp-host-text-color);
  font-family: "Source Code Pro", Menlo, 'Courier New', Courier, monospace;
  white-space: pre;
  overflow: auto;
  flex: 1 1 auto;
  font-size: 12px;
}