table.pricing {
    width: 100%;
    border-spacing: 0;
    color: #333333;
}
table.pricing tr {
    height: 40px;
}
table.pricing thead th {
    color: white;
    font-weight: bold;
    font-size: 16px;
}
table.pricing tbody tr th {
    text-align: right;
    padding-right: 2em;
    background-color: #D0D0D0;
    font-size: 14px;
    border-left: 3px solid white;
}
table.pricing tbody tr:nth-child(1) th {
    border-top: 3px solid white;
    border-top-left-radius: 12px;
}
table.pricing tbody tr:nth-last-child(1) th {
    border-bottom: 3px solid white;
    border-bottom-left-radius: 12px;
}
table.pricing tbody tr:nth-child(odd) th {
    background-color: #E0E0E0;
}
table.pricing tbody tr td {
    background-color: #E8E8E8 ;
    border-left: 3px solid white;
}
table.pricing tbody tr:last-child td {
    border-bottom: 3px solid white;
}
table.pricing tbody tr td:last-child {
    border-right: 3px solid white;
}
table.pricing tbody tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}
table.pricing tbody tr:nth-child(odd) td {
    background-color: #F0F0F0 ;
}
table.pricing thead th:nth-child(2) {
    background: linear-gradient(to bottom, #204080, #4080C0 49.9%, #102040 50.1%, #4080C0);
    border: 3px solid white;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 12px;
}
table.pricing thead th:nth-child(3) {
    background: linear-gradient(to bottom, #208040, #40C080 49.9%, #104020 50.1%, #40C080);
    border: 3px solid white;
    border-bottom: none;
    border-top-right-radius: 12px;
}
table.pricing tbody td, table.pricing thead th {
    text-align: center;
}
table.pricing sp-icon[name*=SuccessMedium] {
    color: #208040;
}
table.pricing sp-icon[name*=CrossMedium] {
    color: #802040;
}
