.colorPicker .color {
  margin: 16px auto;
  height: 64px;
  width: 64px;
  border-radius: 8px;
  position: relative;
  border: 1px solid #252525;
  outline: 1px solid #8c8c8c;
  outline-radius: 10px;
}

.colorPicker .color:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid white;
  border-radius: 8px;
}

@media (prefers-color-scheme: darkest) {
  .colorPicker .color {
    outline-color: #6e6e6e;
  }
}
@media (prefers-color-scheme: light), (prefers-color-scheme: lightest) {
  .colorPicker .color {
    outline-color: #ffffff;
  }
}

.colorPicker .filledRange {
  position: relative;
}

.colorPicker .sliderWithInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.colorPicker .sliderWithInput > *:first-child {
  flex: 1 1 auto;
}

.colorPicker .sliderWithInput > *:last-child {
  margin-left: 8px;
  flex: 0 0 auto;
  width: 50px;
}
.colorPicker sp-textfield {
  margin-top: 10px;
  height: 24px;
  background-color: transparent;
}

.colorPicker sp-slider {
  margin-top: -9px;
}

.colorPicker sp-slider:focus {
  outline: 1px solid #2680eb;
  outline-radius: 4px;
}

@media (prefers-color-scheme: darkest), (prefers-color-scheme: lightest) {
  .colorPicker sp-slider:focus {
    outline-color: #2185e6;
  }
}
@media (prefers-color-scheme: dark) {
  .colorPicker sp-slider:focus {
    outline-color: #3592eb;
  }
}
@media (prefers-color-scheme: light) {
  .colorPicker sp-slider:focus {
    outline-color: #0679e0;
  }
}
