.tabbar {
    display: flex;
    flex: 0 0 auto;
    padding: 12px;
    background-color: rgba(0,0,0,.25);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    flex-wrap: wrap;
}
.tabsection {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tabsection:nth-of-type(2) {
    justify-content: flex-end;
}

.tabsection * {
    margin: 0 4px;
}

.editorPanel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

.editor {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.editor * {
    flex: 1 1 auto;
}

textarea {
    appearance: none;
    position: relative;
    border-radius: 4px;
    padding: 16px;
}

.err {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background-color: #600000;
    color: white;
    fill: currentColor;
    padding: 16px;
    margin: 24px;
    margin-top: 0;
    border-radius: 4px;
}
.err svg {
    flex: 0 0 auto;
    margin-right: 16px;
}
.err sp-body {
    flex: 1 1 auto;
    height: 18px;
    line-height: 18px;
    position: relative;
    top: 4px;
    color: white;
}


